label {
    display: block;
    margin-top: 10px;
    color: #ff69b4; /* Rosa */
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ff69b4; /* Rosa */
    background-color: #fff; /* Branco */
    color: #000; /* Preto para contraste */
    box-sizing: border-box; /* Garantir que o padding não afete a largura total */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff69b4; /* Rosa */
    color: #fff; /* Branco */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suavizar a transição de cor */
}

button:hover {
    background-color: #ff1493; /* Rosa mais escuro */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adicionar margem superior para espaçamento */
}

th, td {
    border: 1px solid #ff69b4; /* Rosa */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ff69b4; /* Rosa */
    color: #fff; /* Branco */
}

td {
    background-color: #fff; /* Branco */
    color: #000; /* Preto */
}