<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/Cognitivus_Karina.jpg" type="image/png">
    <title>Agenda</title>
</head>
<body>
    <!-- Formulário de Criação de Conta -->
    <form id="createAccountForm">
        <h2>Criar Conta</h2>
        <label for="newUsername">Nome de Usuário</label>
        <input type="text" id="newUsername" placeholder="Nome de Usuário" required>
        
        <label for="newPassword">Senha</label>
        <input type="password" id="newPassword" placeholder="Senha" required>
        
        <button type="submit">Criar Conta</button>
    </form>

    <!-- Formulário de Login -->
    <form id="loginForm">
        <h2>Login</h2>
        <label for="username">Nome de Usuário</label>
        <input type="text" id="username" placeholder="Nome de Usuário" required>
        
        <label for="password">Senha</label>
        <input type="password" id="password" placeholder="Senha" required>
        
        <button type="submit">Login</button>
    </form>

    <!-- Formulário de Agendamento -->
    <form id="appointmentForm" style="display: none;">
        <label for="name">Nome</label>
        <input type="text" id="name" placeholder="Nome" required>
        
        <label for="date">Data</label>
        <input type="date" id="date" required>
        
        <label for="time">Hora</label>
        <input type="time" id="time" required>
        
        <label for="notes">Notas</label>
        <textarea id="notes" placeholder="Notas"></textarea>
        
        <button type="submit">Agendar</button>
    </form>

    <table id="appointmentsTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Notas</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Linhas de agendamentos serão inseridas aqui -->
        </tbody>
    </table>

    <script src="../static/script.js"></script>
</body>
</html>