<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/Cognitivus_Karina.jpg" type="image/png">
    <title>Agenda</title>
</head>
<body>
    <form id="appointmentForm">
        <label for="name">Nome</label>
        <input type="text" id="name" placeholder="Nome" required>
        
        <label for="date">Data</label>
        <input type="date" id="date" required>
        
        <label for="time">Hora</label>
        <input type="time" id="time" required>
        
        <label for="notes">Notas</label>
        <textarea id="notes" placeholder="Notas"></textarea>
        
        <button type="submit">Agendar</button>
    </form>

    <table id="appointmentsTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Notas</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Linhas de compromissos serão adicionadas aqui -->
        </tbody>
    </table>

    <script src="../static/script.js"></script>
</body>
</html>